version: '3.5'
services:
  icinga:
    image: edgd1er/rpi-icinga-nconf:latest
    restart: unless-stopped
    ports:
      - "8009:443"
    volumes:
      - ./archives/:/var/archives/
    environment:
      TZ: "Europe/Paris"
      HTUSER: "icingaadmin"
      HTPASS: "password"
      REMOVE_OLDER_THAN: "120"
      EXTERNAL_COMMANDS_ENABLE: "1"
      SMTP_HOST: "smtp.myisp.tld"
      SMTP_PORT: 1234
      SMTP_FROM: "send_adress@domain.tld"
      SMTP_USER: "recipient@doamin.tld"
      SMTP_PWD: "smtp_password"
      SMTP_STARTTLS: "on"
    env_file:
      - envMysql.icinga
    tmpfs:
      - /var/log/icinga
      - /var/cache/icinga
    depends_on:
      - db

  db:
    image: linuxserver/mariadb:latest
    ports:
      - 3326:3306
    restart:
      unless-stopped
    env_file:
      - envMysql
    environment:
      - TZ=Europe/Paris
    volumes:
      - icinga_database:/config
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"

volumes:
  icinga_database: